.shout_box {
	padding: 10px; border-radius: 3px; border: 1px solid rgb(231, 231, 231); transition:500ms linear; height: 290px; overflow: auto; box-sizing: border-box; box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1); background-color: rgb(255, 255, 255); -webkit-border-radius: 3px; -moz-border-radius: 3px; -webkit-transition: all 500ms linear; -moz-transition: all 500ms linear; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1); -o-transition: all 500ms linear;
}
